<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>Harjutustund 1</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<header>
    <a href="?cmd=show_book_list" id="book-list-link">Raamatud |</a>
    <a href="?cmd=show_book_form" id="book-form-link">Lisa raamat |</a>
    <a href="?cmd=show_author_list" id="author-list-link">Autorid |</a>
    <a href="?cmd=show_author_form" id="author-form-link">Lisa autor</a>
    <br/>
</header>
<p tpl-if="$message">Error invalid input</p>
<form action="?cmd=add_author">

    <table class="input-table">

        <tr>
            <td><label for="eesn">Eesnimi: </label></td>
            <td><input type="text" id="eesn" name="firstName" value="{{$firstname}}"><br></td>
        </tr>

        <tr>

            <td><label for="perekn">Perekonnanimi: </label></td>
            <td><input type="text" id="perekn" name="lastName" value="{{$lastname}}"><br></td>
        </tr>

        <tr>
        <td><label for="grade">Hinne:</label></td>
        <td><input type="radio" name="grade" id="grade" value="1" tpl-checked="$grade == 1">1
            <label>
                <input type="radio" name="grade" value="2" tpl-checked="$grade == 2">
            </label>2
            <label>
                <input type="radio" name="grade" value="3" tpl-checked="$grade == 3">
            </label>3
            <label>
                <input type="radio" name="grade"value="4" tpl-checked="$grade == 4">
            </label>4
            <label>
                <input type="radio" name="grade" tpl-checked="$grade == 5" value="5">
            </label>5<br></td>
        </tr>

        <tr><td><input type='hidden' name='cmd' value='add_author'/></td>
            <td><input type="submit" value="Salvesta" name="submitButton"></td></tr>

    </table>
</form>
    <footer>
        ICD0007 Näidisrakendus
    </footer>
</body>
</html>