<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>Harjutustund 1</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<header>
    <a href="?cmd=show_book_list" id="book-list-link">Raamatud |</a>
    <a href="?cmd=show_book_form" id="book-form-link">Lisa raamat |</a>
    <a href="?cmd=show_author_list" id="author-list-link">Autorid |</a>
    <a href="?cmd=show_author_form" id="author-form-link">Lisa autor</a>
    <br/>
</header>
<p tpl-if="$message" id='message-block'>Added</p>
    <table class="table_head">
        <tr >
            <th class="table_col1"><strong>Eesnimi</strong></th>
            <th class="table_col2"><strong>Perekonnanimi</strong></th>
            <th><strong>Hinne</strong></th>
        </tr>
    </table>
    <table class="tabel1">
        <tr>
            <td class="table_col1">Eesnimi 1</td>
            <td class="table_col2">Perekonnanimi 1</td>
            <td>Hinne 1</td>
        </tr>
        <tr>
            <td class="table_col1">Eesnimi 2</td>
            <td class="table_col2" >Perekonnanimi 2</td>
            <td>Hinne 2</td>
        </tr>
        <tr tpl-foreach="$authors as $author">
            <td>
                <a href="?cmd=show_author_edit&id={{$author ->id}}" >{{$author -> firstname}}</a>
            </td>
            <td>{{$author -> lastname}}</td>
            <td>{{$author -> grade}}</td>
        </tr>
    </table>

    <footer>
        ICD0007 Näidisrakendus
    </footer>

</body>
</html>