<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>Harjutustund 1</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<header id="header">
    <a href="?cmd=show_book_list" id="book-list-link">Raamatud |</a>
    <a href="?cmd=show_book_form" id="book-form-link">Lisa raamat |</a>
    <a href="?cmd=show_author_list" id="author-list-link">Autorid |</a>
    <a href="?cmd=show_author_form" id="author-form-link">Lisa autor</a>
    <br/>
</header>
<p tpl-if="$message">Error invalid input</p>
<form action="?cmd=add_book" name="myForm" onsubmit="">
    <table class="input-table">

    <tr>
        <td><label for="plkr" >Pealkiri: </label></td>
        <td><input type="text" id="plkr" name="title" value="{{$title}}"></td>
    </tr>
    <tr>
        <td><label for="author1">Autor 1:</label></td>
    <td><select id="author1" name="author1">
        <option tpl-foreach="$authors as $author" value="{{$author ->id}}" tpl-selected="$author1 == $author ->id">{{$author -> firstname}} {{$author -> lastname}}</option>
    </select>
    </td>
    </tr>

        <tr>
            <td><label for="author2">Autor 2:</label></td>
    <td><select id="author2">
        <option></option>
        <option>AA</option>
    </select></td>
        </tr>
        <tr>
            <td><label for="grade">Hinne:</label></td>
            <td>
    <input type="radio" name="grade" id="grade" value="1" tpl-checked="$grade == 1">1
                <label>
                    <input type="radio" name="grade" value="2" tpl-checked="$grade == 2">
                </label>2
                <label>
                    <input type="radio" name="grade" value="3" tpl-checked="$grade == 3">
                </label>3
                <label>
                    <input type="radio" name="grade" value="4" tpl-checked="$grade == 4">
                </label>4
                <label>
                    <input type="radio" name="grade" value="5" tpl-checked="$grade == 5">
                </label>5</td>
    </tr>

        <tr>
            <td><label for="isRead">Loetud</label></td>
            <td><input type="checkbox" id="isRead" name="isRead" tpl-checked="$isRead == 'on'"><br></td>
        </tr>
        <tr>
            <td><input type='hidden' name='cmd' value='add_book'/></td>
            <td><input type="submit" value="Salvesta" name="submitButton"></td>
        </tr>

    </table>
</form>
    <footer>
        ICD0007 Näidisrakendus
    </footer>
</body>
</html>