   <!DOCTYPE html>
   <html lang="et">
       <head>
           <meta charset="utf-8">
           <title>Harjutustund 1</title>
           <link href="styles.css" rel="stylesheet">
       </head>
       <body>
           <header>
               <a href="?cmd=show_book_list" id="book-list-link">Raamatud |</a>
               <a href="?cmd=show_book_form" id="book-form-link">Lisa raamat |</a>
               <a href="?cmd=show_author_list" id="author-list-link">Autorid |</a>
               <a href="?cmd=show_author_form" id="author-form-link">Lisa autor</a>
               <br/>
           </header>
           <p tpl-if="$message" id='message-block'>Added</p>
           <table class="table_head">
               <tr>
                   <th class="table_col1"><strong>Pealkiri</strong></th>
                   <th class="table_col2"><strong>Autorid</strong></th>
                   <th><strong>Hinne</strong></th>
               </tr>
               </table>


               <table class="tabel1">
                   <tr tpl-foreach="$books as $book">
                       <td>
                       <a href="?cmd=show_book_edit&id={{$book ->id}}">{{$book -> title}}</a>
                   </td>
                       <td>{{$book -> authorName}}</td>
                       <td>{{$book -> grade}}</td>
                   </tr>
           </table>
           <footer>
                ICD0007 Näidisrakendus
           </footer>

       </body>
   </html>