header,footer {
    background-color: lightblue;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-family:Georgia, serif;
}
.table_head {
    border-bottom:solid;
    width:50%;
    margin-left:25%;
    margin-right: 25%;
    padding-top:20px;
    text-align:left;


}
.tabel1 {
    width:50%;
    margin-left:25%;
    margin-right: 25%;
}

.table_col1 {
    width: 36%;
    text-align: left;
}
.table_col2 {
    width: 50%;
    text-align: left;
}
footer {
    text-align:left;
}
.input-table {
    margin-right: 35%;
    margin-left: 40%;
    width:30%;
    text-align:left;
}